<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119870425363-0a0gibf4lav5d9teqlf1anqf1v00haef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119870425363-0a0gibf4lav5d9teqlf1anqf1v00haef</string>
	<key>API_KEY</key>
	<string>AIzaSyCu8c5cTy9re8Bo78mfRdM9ymiyJhaPs_E</string>
	<key>GCM_SENDER_ID</key>
	<string>119870425363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>test-movie-app-30cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-movie-app-30cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119870425363:ios:6f84eb8554b868bfe832e6</string>
</dict>
</plist>